extends layout

block content
  script(type='text/javascript',src='/js/filename_utils.js')
  
  if (cathegories) 
    h2 Cathegories
    table.table.table-striped
      thead
        tr
          td
            if ((sort=='name')&& (order=='-1'))
              a(href='/cathegories/sort=name&order=1&page=1')
                |Name 
                span.glyphicon.glyphicon-sort-by-alphabet-alt
            else
              if ((sort=='name')&& (order=='1'))
                a(href='/cathegories/sort=name&order=-1&page=1')
                  |Name 
                  span.glyphicon.glyphicon-sort-by-alphabet
              else
                a(href='/cathegories/sort=name&order=-1&page=1')
                  |Name 
                  small
                    span.glyphicon.glyphicon-sort
                
     
          td
            if ((sort=='number_of_entries')&& (order=='-1'))
              a(href='/cathegories/sort=number_of_entries&order=1&page=1')
                |Number of entries 
                span.glyphicon.glyphicon-sort-by-attributes-alt
            else
              if ((sort=='number_of_entries')&& (order=='1'))
                a(href='/cathegories/sort=number_of_entries&order=-1&page=1')
                  |Number of entries 
                  span.glyphicon.glyphicon-sort-by-attributes
              else
                a(href='/cathegories/sort=number_of_entries&order=-1&page=1')
                  |Number of entries 
                  small
                    span.glyphicon.glyphicon-sort
          td
            if ((sort=='updated_at')&& (order=='-1'))
              a(href='/cathegories/sort=updated_at&order=1&page=1')
                |Updated at  
                span.glyphicon.glyphicon-sort-by-attributes-alt
            else
              if ((sort=='updated_at')&& (order=='1'))
                a(href='/cathegories/sort=updated_at&order=-1&page=1')
                  |Updated at 
                  span.glyphicon.glyphicon-sort-by-attributes
              else
                a(href='/cathegories/sort=updated_at&order=-1&page=1')
                  |Updated at 
                  small
                    span.glyphicon.glyphicon-sort
      tbody
        - for (var i = 0; i <=cathegories.length; ++i)
          if (cathegories[i])
            tr   
              td 
                a(id=cathegories[i].name).label.label-default
                  | #{cathegories[i].name}            
              td
                div(id='count_#{cathegories[i].name}')
                  | #{cathegories[i].number_of_entries}
                script.
                  $("[id='#{cathegories[i].name}']").attr('href','/cathegory/' + titleToFilename('#{cathegories[i].name}'));
                  var data={};
                  if ('#{cathegories[i].name}'!=''){    
                    data.cathegory_name='#{cathegories[i].name}';
                    $.ajax({
                              type: 'POST',
                              url: '/obtain_cathegory_id',
                              data: JSON.stringify(data),
                              cache: false,
                              contentType: "application/json",
                              timeout: 50000,
                              success: function(data) {
                                  console.log('success');
                                  console.log(data);
                                  $("[id='#{cathegories[i].name}']").attr('href','/cathegory/cat=' + data.cathegory_id+'&page=1');

                                }
                    });
                  }
              td
                | #{cathegories[i].updated_at} 
    p
      |showing page !{page} of !{pages}. 
      
    nav(aria-label='Page navigation example')
     ul.pagination(id='list_pages')
       if page!=1
         li.page-item
           a.page-link(id='previous_page' href='') Previous 
       - for (var i = 1; i <= pages; ++i) 
         li.page-item
          a.page-link(href='/cathegories/sort=#{sort}&order=#{order}&page=#{i}') #{i}
       if page<pages
         li.page-item
           a.page-link(id='next_page' href='') Next
     script.
       $(function(){
         var page =parseInt(#{page});
         var pages=parseInt(#{pages});
         console.log(pages);
         var next_page = page +1;
         var previous_page=page-1;
         $('#next_page').attr('href',"/cathegories/sort=#{sort}&order=#{order}&page="+next_page);
         $('#previous_page').attr('href',"/cathegories/sort=#{sort}&order=#{order}&page="+previous_page);
       });
  else
    p not entries found.
  
