extends layout_editor

block content_editor
  script(type='text/javascript',src='/js/filename_utils.js')
  script.
    $('#liView').attr('class','active');
    $('#liEdit').attr('class','');

  if (entry) 
    div(id='content') 
      !{contentHtml}
    each cat in entry.cathegories
      p
        a(id=cat).label.label-default=cat
        script.
          $("[id='#{cat}']").attr('href','/category/' + titleToFilename('#{cat}'));
        
     
  if (!entry)
    h1 Editing #{entry.name}
    a(href="/entry_editor") edit #{entry.name}
    
  
