extends layout_editor

block content_editor
  script(type='text/javascript',src='/js/filename_utils.js')
  script.
    $(function() {
      $('#liView').attr('class','');
      $('#liEdit').attr('class','');
      $('#liUpload').attr('class','');
      $('#liHistory').attr('class','active');
    });  
    
  if (entries) 
    h2 Updates made to this entry
    table.table
      thead
        tr
          td Update Date
          td User
      tbody
        each entry in entries
          tr   
            td 
              a(id=entry.updated_at href='/entry_viewer_history/#{entry.entry_name}&date=#{entry.updated_at}')
                | #{entry.updated_at}
            td
              a(id=entry.edited_by href='/user/#{entry.edited_by}&page=1')
                | #{entry.edited_by}
        
    p
      |showing page !{page} of !{pages}. 
      
    nav(aria-label='Page navigation example')
     ul.pagination(id='list_pages')
       if page!=1
         li.page-item
           a.page-link(id='previous_page' href='') Previous 
       - for (var i = 1; i <= pages; ++i) 
         li.page-item
          a.page-link(href='/entry_history/#{entry.name}&page=#{i}') #{i}
       if page<pages
         li.page-item
           a.page-link(id='next_page' href='') Next  
     script.
       var page =parseInt(#{page});
       var pages=parseInt(#{pages});
       console.log(pages);
       var next_page = page +1;
       var previous_page=page-1;
       $('#next_page').attr('href',"/entry_history/#{entry.name}&page="+next_page);
       $('#previous_page').attr('href',"/entry_history/#{entry.name}&page="+previous_page);
  else
    p not entries found.
  
