extends layout

block content
  link(rel='stylesheet',href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
  script(type='text/javascript',src='/js/filename_utils.js')

  form(role='form', id='formEntry', action='/entry_editor',method='post')
    if (entry)
      h1 #{entry.title}
      ul.nav.nav-tabs
        li
          a(href='/entry_viewer/#{entry.name}') View
            |  
            div.glyphicon.glyphicon-eye-open
        li.active
          a(href='/entry_editor/#{entry.name}') Edit
            |  
            div.glyphicon.glyphicon-pencil
        li
          a(href='#') Add image
            |  
            div.glyphicon.glyphicon-picture
        li
          a(href='#') History
      
      textarea(id = 'text' cols='80' rows='80',name='content')
        |#{entry.content}
      
      input(type='hidden' name='_id' value='#{entry._id}')
      input(type='hidden' name='entry_name' value='#{entry.name}')
      input(type='hidden' name='created_at' value='#{entry.created_at}')
    
    if(!entry)
      input(id='is_new' type='hidden' name='new' value='true')
      p.lead(value='Creating new entry with title: ')
      input(id='title' type='text'  name='title' value='Title')
      emph Entry name: 
      div(id='div_entry_name' value = 'title')
      input(id='entry_name_hidden' type='hidden' name='entry_name')
      textarea(id = 'text' cols='45' rows='20' name='content')
      script
        |var divEntryName = $( "#div_entry_name" );
        |var inputEntryNameHidden = $( "#entry_name_hidden" );
        |var title = $("#title");
        |$(document).ready(function(){
        |  title.keyup(function(){
        |   divEntryName.html(titleToFilename(title.val()));
        |   inputEntryNameHidden.val(titleToFilename(title.val()));
        |   console.log(inputEntryNameHidden.val());
        | });
        |});
    
    button.btn.btn-default(type='submit') Submit
  script
    |var simplemde = new SimpleMDE({ element: document.getElementById('text') });
    
  
