extends layout_editor

block content_editor
  link(rel='stylesheet',href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
  script(type='text/javascript',src='/js/filename_utils.js')

  script.
    $('#liView').attr('class','');
    $('#liEdit').attr('class','active');

  form(role='form', id='formEntry', action='/entry_editor',method='post')
    if (entry)
      textarea(id = 'text' cols='80' rows='80',name='content')
        |#{entry.content}
      
      input(type='hidden' name='_id' value='#{entry._id}')
      input(type='hidden' name='entry_name' value='#{entry.name}')
      input(type='hidden' name='created_at' value='#{entry.created_at}')
      if (entry.cathegories[0])
        div
          |Cathegories: 
        
        p
          input(name='cathegoriesSemicolom', id='cathegories', value='#{cathegoriesSemicolom}')
      else
        div
          |Cathegories: 
        
        p
          input(name='cathegoriesSemicolom', id='cathegories', value='categories separated by ;')
      
      
    if(!entry)
      input(id='is_new' type='hidden' name='new' value='true')
      p.lead(value='Creating new entry with title: ')
      input(id='title' type='text'  name='title' value='Title')
      emph Entry name: 
      div(id='div_entry_name' value = 'title')
      input(id='entry_name_hidden' type='hidden' name='entry_name')
      textarea(id = 'text' cols='45' rows='20' name='content')
      div
        |Cathegories: 
        p
          input(name='cathegoriesSemicolom', id='cathegories', value='categories separated by ;')
      script
        |var divEntryName = $( "#div_entry_name" );
        |var inputEntryNameHidden = $( "#entry_name_hidden" );
        |var title = $("#title");
        |$(document).ready(function(){
        |  title.keyup(function(){
        |   divEntryName.html(titleToFilename(title.val()));
        |   inputEntryNameHidden.val(titleToFilename(title.val()));
        |   console.log(inputEntryNameHidden.val());
        | });
        |});
    
    button.btn.btn-default(type='submit') Submit
  script
    |var simplemde = new SimpleMDE({ element: document.getElementById('text') });
    
  
