extends layout_editor

block content_editor
  script(type='text/javascript',src='/js/filename_utils.js')
  script.
    $(function() {
      $('#liView').attr('class','active');
      $('#liEdit').attr('class','');
      $('#liUpload').attr('class','');
    });  
  if (entry) 
    br
    div(id='content') 
      !{contentHtml}
    each cat in entry.cathegories
      p
        a(id=cat).label.label-default=cat
        script.
          $(function(){
            $("[id='#{cat}']").attr('href','/cathegory/' + titleToFilename('#{cat}'));
            var data={};
            if ('#{cat}'!=''){    
              data.cathegory_name='#{cat}';
              $.ajax({
                        type: 'POST',
                        url: '/obtain_cathegory_id',
                        data: JSON.stringify(data),
                        cache: false,
                        contentType: "application/json",
                        timeout: 50000,
                        success: function(data) {
                            console.log('success');
                            console.log(data);
                            $("[id='#{cat}']").attr('href','/cathegory/cat=' + data.cathegory_id+'&page=1');
                          }
              });
            }
          });
     
  if (!entry)
    h1 Editing #{entry.name}
    a(href="/entry_editor") edit #{entry.name}
  if(!error=='')
    script.
      $(function(){
        alert('#{error}')
      });
