extends layout

block content
  
  link(rel='stylesheet',href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')

  if (entry)
    h1 !{entry.title}
    
    ul.nav.nav-tabs
      li(id='liView')
        a(id='view' href='/entry_viewer/#{entry.name}') View
          |  
          div.glyphicon.glyphicon-eye-open
      li(id='liEdit')
        a(id='edit' href='/entry_editor/#{entry.name}') Edit
          |  
          div.glyphicon.glyphicon-pencil
      li(id='liUpload')
        a(href='/upload/#{entry.name}') Add image
          |  
          div.glyphicon.glyphicon-picture
      li(id='liHistory')
        a(href='/entry_history/#{entry.name}&page=0') History
      //- li(type='hidden' id='liSave')
      //-   a(type='hidden') Save
  else
    if (entry_name)
      ul.nav.nav-tabs
        li(id='liView')
          a(id='view' href='/entry_viewer/#{entry_name}') View
            |  
            div.glyphicon.glyphicon-eye-open
        li(id='liEdit')
          a(id='edit' href='/entry_editor/#{entry_name}') Edit
            |  
            div.glyphicon.glyphicon-pencil
        li(id='liUpload')
          a(href='/upload/#{entry_name}') Add image
            |  
            div.glyphicon.glyphicon-picture
        li
          a(href='#') History
      
          
  block content_editor
